<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Styles/styles.css">
    <link href = "https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet"/>
    <title>Home</title>
</head>
<body>
    <header id="header">
        <div class="image-container">
            <img id="logo" src="../images/PageForge.jpg" alt="">
        </div>
        <h1 class="metal">
            <span class="metal-span">PageForge</span>  
        </h1>
        <a href="Sign-In.html">
            <button class="pushable">
                <span class="front">Sign In</span>
            </button>  
        </a>
    </header>
    <nav id="nav">
        <a href="../Views/Home.html" class="nav-item" data-item="Home">Home</a>
        <a href="../Views/Projects.html" class="nav-item" data-item="Projects">Projects</a>
        <a href="../Views/Updates.html" class="nav-item" data-item="Updates">Updates</a>
        <a href="../Views/About.html" class="nav-item" data-item="About">About</a>
    </nav> 

    <section class="image-Section">
        <div class="image-container2">
            <img id="logo2" src="../images/code.jpg" alt="">
            <h2>Our Mission</h2>
            <p>We aim to deliver high-quality WebPages</p>
            <h2>Our Values</h2>
            <p>Integrity, innovation, and customer satisfaction are the core values.We believe in building lasting relationships with our clients and partners.</p>
        </div>
    </section>

    <h2 class="metal">
        <span class="metal-span">Meet the Forgers</span>  
    </h2>

    <section class="flipCards">
        <div class="wrapper">
            <div class="card front-face">
                <img src="../images/PageForge.jpg">
            </div>
            <div class="card back-face">
                <img src="../images/PageForge.jpg">
                <div class="info">
                    <div class="title">
                        PageForger Tim
                    </div>
                    <p>
                        Full-Stack Developer <br> PageForge@gmail.com
                    </p>
                </div>
                <ul>
                    <a href="#" class="link" style="background: #4267b2;"><i class="bx bxl-facebook"></i></a>
                    <a href="#" class="link" style="background: #1da1f2;"><i class="bx bxl-twitter"></i></a>
                    <a href="#" class="link" style="background: #e1306c;"><i class="bx bxl-instagram"></i></a>
                    <a href="#" class="link" style="background: #ffff00;"><i class="bx bxl-snapchat"></i></a> 
                </ul>
            </div>
        </div>
        <div class="wrapper">
            <div class="card front-face">
                <img src="../images/PageForge.jpg">
            </div>
            <div class="card back-face">
                <img src="../images/PageForge.jpg">
                <div class="info">
                    <div class="title">
                        PageForger Andy
                    </div>
                    <p>
                        Full-Stack Developer <br> PageForge@gmail.com
                    </p>
                </div>
                <ul>
                    <a href="#" class="link" style="background: #4267b2;"><i class="bx bxl-facebook"></i></a>
                    <a href="#" class="link" style="background: #1da1f2;"><i class="bx bxl-twitter"></i></a>
                    <a href="#" class="link" style="background: #e1306c;"><i class="bx bxl-instagram"></i></a>
                    <a href="#" class="link" style="background: #ffff00;"><i class="bx bxl-snapchat"></i></a> 
                </ul>
            </div>
        </div>
        <div class="wrapper">
            <div class="card front-face">
                <img src="../images/PageForge.jpg">
            </div>
            <div class="card back-face">
                <img src="../images/PageForge.jpg">
                <div class="info">
                    <div class="title">
                        PageForger Ralph
                    </div>
                    <p>
                        Full-Stack Developer <br> PageForge@gmail.com
                    </p>
                </div>
                <ul>
                    <a href="#" class="link" style="background: #4267b2;"><i class="bx bxl-facebook"></i></a>
                    <a href="#" class="link" style="background: #1da1f2;"><i class="bx bxl-twitter"></i></a>
                    <a href="#" class="link" style="background: #e1306c;"><i class="bx bxl-instagram"></i></a>
                    <a href="#" class="link" style="background: #ffff00;"><i class="bx bxl-snapchat"></i></a> 
                </ul>
            </div>
        </div>
    </section>

    <footer id="footer">
        <h2 class="metal">
            <span class="metal-span">Forge Tomorrow's Web Today</span>  
        </h2></body>

        <div class="footer-nav">
            <a href="">Contact</a>
            <a href="">About Us</a>
            <a href="">Terms of Use</a>
            <a href="">FAQs</a>
            <a href="">Privacy Policy</a>
        </div>
    </footer>
</html>

