<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Styles/updatestyles.css">
    <link href = "https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet"/>
    <title>Home</title>
</head>
<body>
    <header id="header">
        <div class="image-container">
            <img id="logo" src="../images/PageForge.jpg" alt="">
        </div>
        <h1 class="metal">
            <span class="metal-span">PageForge</span>  
        </h1>
        <a href="Sign-In.html">
            <button class="pushable">
                <span class="front">Sign In</span>
            </button>  
        </a>
    </header>
    <nav id="nav">
        <a href="../Views/Home.html" class="nav-item" data-item="Home">Home</a>
        <a href="../Views/Projects.html" class="nav-item" data-item="Projects">Projects</a>
        <a href="../Views/Updates.html" class="nav-item" data-item="Updates">Updates</a>
        <a href="../Views/About.html" class="nav-item" data-item="About">About</a>
    </nav> 
    <div id="selection-box">
        <ol>
            <li><a class="arrow"><i class="fas fa-arrow-alt-right"></i>Stuff</a></li>
            <li><a class="arrow"><i class="fas fa-arrow-alt-right"></i>other stuff</a></li>
            <li><a class="arrow"><i class="fas fa-arrow-alt-right"></i>other other stuff</a></li>
            <li><a class="arrow"><i class="fas fa-arrow-alt-right"></i>other other other stuff</a></li>
            <li><a class="arrow"><i class="fas fa-arrow-alt-right"></i>other other other other stuff</a></li>
        </ol>
    </div>
      
    <footer id="footer">
        <h2 class="metal">
            <span class="metal-span">Forge Tomorrow's Web Today</span>  
        </h2></body>

        <div class="footer-nav">
            <a href="">Contact</a>
            <a href="">About Us</a>
            <a href="">Terms of Use</a>
            <a href="">FAQs</a>
            <a href="">Privacy Policy</a>
        </div>
    </footer>
</html>